* {
    text-align: center;
}

body {
    background-image: url(images/mobilebackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
}

img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-bottom: 0px;
}

iframe {
    width: 350px;
	height:197px;
}

header {
    font-size: 20px;
}

h1, h2 {
    margin: 0px;
    text-shadow: 2px 2px 4px #000000;
}

h2 {
    padding-bottom: 10px;
    font-size: 15px;
}

.button {
    background-color:white;
    width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    border: 1px solid black;
    -webkit-appearance: none;
}